{% extends "posts/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.title }}</h2>
            <div class="d-flex flex-row align-items-center mb-1">
                <div class="me-auto">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                    <a style="text-decoration:none" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                </div>
                
                    <!-- {% if object.author == user %}{% endif %} -->
                    {% if user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm m-1" href="{% url 'post-update' object.id %}">Edytuj</a>
                        <a class="btn btn-danger btn-sm m-1" href="{% url 'post-delete' object.id %}">Usuń</a>
                    </div>
                    {% endif %}
                <a class="m-1" style="text-decoration:none" href="{% url 'category' post.category.id %}">{{ post.category.name }}</a>
                <small class="text-muted">{{ post.date_posted|date:"d E y" }}</small>
            </div>
            <img class ="card-img-top" src="{{ object.image.url }}">
            <p class="article-content" style="img-fluid">{{ object.content|safe }}</p>
            <div class="text-center">
                <table>
                    {% if user.is_authenticated %}
                    <form action="{% url 'like-post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-zajebiste btn-sm">Zajebiste</button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-light btn-sm">Zajebiste</button>
                        {% endif %}
                    </form>
                    <a>  {{ total_likes }}  </a>
                    <form action="{% url 'unlike-post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if unliked %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-slabe btn-sm">Słabe</button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-light btn-sm">Słabe</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <a class="btn btn-light btn-sm" href="{% url 'login' %}">Zajebiste</a>
                    <a>  {{ total_likes }}  </a>
                    <a class="btn btn-light btn-sm" href="{% url 'login' %}">Słabe</a>
                    {% endif %}
                    
                </table>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-body">
            <div class="form-group">
                {% if user.is_authenticated %}
                <h5 class="ms-4">Dodaj Komentarz</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container-fluid row justify-content-start mb-2">
                            <div class="col">{{ comment_form|crispy }}</div>
                            <div class="col-2"><button type="submit" value="Submit" class="btn btn-active">Dodaj</button></div>
                        </div>
                    </form>
                {% else %}
                <h3>Jeśli chcesz dodać komentarz</h3>
                <a class="btn btn-success btn-sm mb-3" href="{% url 'login' %}">Zaloguj się</a>
                {% endif %}
            </div>

            
            {% if not post.comments.all %}
                Wciąż nie ma komentarzy...
            {% else %}

                {% for comment in post.comments.all %}
                    {% if comment.parent == None %}
                    <div class="media content-section">
                        <img class="rounded-circle comment-img" src="{{ comment.author.profile.image.url }}">
                        <strong>{{ comment.author }}</strong>
                        <small>{{ comment.date_added|timesince }} temu</small>
                        <div class="m-1">{{ comment.body }}</div>
                    
                        <a class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="collapse" href="#collapseExample{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Odpowiedz
                        </a>
                    
                        {% if comment.child %}
                        <a class="btn btn-active btn-sm mb-2" data-bs-toggle="collapse" href="#collapseExamples{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Pokaż odpowiedzi
                        </a>
                        {% endif %}

                        <div class="collapse" id="collapseExample{{ comment.id }}">
                            {% if user.is_authenticated %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                <div class="container-fluid row justify-content-start mb-2 pt-2">
                                    <div class="col-9">{{ comment_form|crispy }}</div>
                                    <div class="col-sm"><button type="submit" value="reply" class="btn btn-active">Odpowiedz</button></div>
                                </div>
                            </form>
                            {% else %}
                            <h6>Jeśli chcesz dodać komentarz</h6>
                            <a class="btn btn-success btn-sm mb-2" href="{% url 'login' %}">Zaloguj się</a>
                            {% endif %}
                        </div>

                        
                        
                        <div class="collapse" id="collapseExamples{{ comment.id }}">
                            {% for child_comment in comment.child %}
                                <div class="media comment-section">
                                    <img class="rounded-circle comment-img" src="{{ child_comment.author.profile.image.url }}">
                                    <strong>{{ child_comment.author }}</strong>
                                    {{ child_comment.date_added|timesince }} temu
                                    <div class="m-1">{{ child_comment.body }}</div>

                                    
                                        <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#collapseExample{{ child_comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Odpowiedz
                                        </a>
                                        
                                    <div class="collapse" id="collapseExample{{ child_comment.id }}">
                                        {% if user.is_authenticated %}
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type='hidden' name='parent_id' value='{{ child_comment.id }}'>
                                            <div class="container-fluid row mb-2 pt-2">
                                                <div class="col-9">{{ comment_form|crispy }}</div>
                                                <div class="col-sm"><button type="submit" value="reply" class="btn btn-active">Odpowiedz</button></div>
                                            </div>
                                        </form>
                                        {% else %}
                                        <h6>Jeśli chcesz dodać komentarz</h6>
                                        <a class="btn btn-success btn-sm mb-2" href="{% url 'login' %}">Zaloguj się</a>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="m-1">
                                        {% for child2_comment in child_comment.child %}
                                            <div class="media comment-section">
                                                <img class="rounded-circle comment-img" src="{{ child2_comment.author.profile.image.url }}">
                                                <strong>{{ child2_comment.author }}</strong>
                                                {{ child2_comment.date_added|timesince }} temu
                                                <div class="m-1">{{ child2_comment.body }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </article>
    
{% endblock content %}

