{% extends "posts/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.title }}</h2>
            <div class="d-flex flex-row align-items-center mb-1">
                <div class="me-auto">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                    <a style="text-decoration:none" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                </div>
                
                    <!-- {% if object.author == user %}{% endif %} -->
                    {% if user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm m-1" href="{% url 'post-update' object.id %}">Edytuj</a>
                        <a class="btn btn-danger btn-sm m-1" href="{% url 'post-delete' object.id %}">Usuń</a>
                    </div>
                    {% endif %}
                <a class="m-1" style="text-decoration:none" href="{% url 'category' post.category.id %}">{{ post.category.name }}</a>
                <small class="text-muted">{{ post.date_posted|date:"d E y" }}</small>
            </div>
            <img class ="card-img-top" src="{{ object.image.url }}">
            <p class="article-content" style="img-fluid">{{ object.content|safe }}</p>
            <table>
                {% if user.is_authenticated %}
                <form action="{% url 'like-post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success btn-sm">Zajebiste</button>
                    {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-light btn-sm">Zajebiste</button>
                    {% endif %}
                </form>
                <a>  {{ total_likes }}  </a>
                <form action="{% url 'unlike-post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if unliked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Słabe</button>
                    {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-light btn-sm">Słabe</button>
                    {% endif %}
                </form>
                {% else %}
                <a class="btn btn-light btn-sm" href="{% url 'login' %}">Zajebiste</a>
                <a>  {{ total_likes }}  </a>
                <a class="btn btn-light btn-sm" href="{% url 'login' %}">Słabe</a>
                {% endif %}
            </table>
            
        </div>
    </article>
    <article class="media content-section">
        <div class="card-body">
            <div class="form-group">
                {% if user.is_authenticated %}
                <h5>Dodaj Komentarz</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-start mb-2">
                            <div class="col">{{ comment_form|crispy }}</div>
                            <div class="col-2"><button type="submit" value="Submit" class="btn btn-secondary">Dodaj</button></div>
                        </div>
                    </form>
                {% else %}
                <h3>Jeśli chcesz dodać komentarz</h3>
                <a class="btn btn-success btn-sm mb-3" href="{% url 'login' %}">Zaloguj się</a>
                {% endif %}
            </div>

            
            {% if not post.comments.all %}
                Wciąż nie ma komentarzy...
            {% else %}

                {% for comment in post.comments.all %}
                    {% if comment.parent == None %}
                    <div class="media content-section">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-1"><img class="rounded-circle comment-img" src="{{ comment.author.profile.image.url }}"></div>
                                <div class="col">
                                    <strong>{{ comment.author }}</strong>
                                    {{ comment.date_added|timesince }} temu
                                    <br/>
                                    {{ comment.body }}
                                </div>
                            </div>
                        </div>
                        <p>
                            <a class="btn" data-bs-toggle="collapse" href="#collapseExample{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Odpowiedz
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample{{ comment.id }}">
                            {% if user.is_authenticated %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                <div class="row justify-content-start mb-2">
                                    <div class="col">{{ comment_form|crispy }}</div>
                                    <div class="col-2"><button type="submit" value="reply" class="btn btn-secondary">Odpowiedz</button></div>
                                </div>
                            </form>
                            {% else %}
                            <h6>Jeśli chcesz dodać komentarz</h6>
                            <a class="btn btn-success btn-sm mb-2" href="{% url 'login' %}">Zaloguj się</a>
                            {% endif %}
                        </div>

                        {% for child_comment in comment.child %}
                            <div class="media content-section">
                                    <img class="rounded-circle comment-img" src="{{ child_comment.author.profile.image.url }}">
                                    <strong>{{ child_comment.author }}</strong>
                                    {{ child_comment.date_added|timesince }} temu
                                <br/>
                                {{ child_comment.body }}
                                <br/>
                                <p>
                                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample{{ child_comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Odpowiedz
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample{{ child_comment.id }}">
                                    {% if user.is_authenticated %}
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <input type='hidden' name='parent_id' value='{{ child_comment.id }}'>
                                        <button type="submit" value="reply" class="btn btn-secondary m-1">Odpowiedz</button>
                                    </form>
                                    {% else %}
                                    <h3>Jeśli chcesz dodać komentarz</h3>
                                    <a class="btn btn-success btn-sm" href="{% url 'login' %}">Zaloguj się</a>
                                    {% endif %}
                                </div>
                                {% for child2_comment in child_comment.child %}
                                    <div class="media content-section">
                                        <strong>
                                            <img class="rounded-circle comment-img" src="{{ child2_comment.author.profile.image.url }}">
                                            {{ child2_comment.author }}
                                            {{ child2_comment.date_added }}
                                        </strong>
                                        <br/>
                                        {{ child2_comment.body }}
                                        <br/>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </article>
    
{% endblock content %}

