{% extends "posts/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary"> {{ user.email }} </p>
      </div>
    </div>
    <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Informacje o Profilu</legend>
            {{ u_form|crispy }}
            <br>
            {{ form.media }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <div id="wrapper">
                <label>Zdjęcie profilowe* / Wymiary [125, 125]</label>
                <br>
                <input id="fileUpload" type="file" name='image_id' message="Proszę dodać zdjęcie"/>
                <div id="image-holder"></div>
            </div>
        </fieldset>
        <br>
        <div class="form-group m-1">
            <button class="btn btn-active" type="submit">Uaktualnij</button>
        </div>
    </form>
  </div>
  <script>
    $("#fileUpload").on('change', function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "rounded-circle account-img-preview"
                }).appendTo(image_holder);

            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
    });
</script>
   
{% endblock content %} 