{% extends "posts/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    
  <div class="profile-section">
    <div class="text-center account-background" style="background-image: url({{ user.profile.background.image.url }})">
      <img class="rounded-circle account-img ms-3 mt-3" src="{{ user.profile.image.url }}">
      <div class="account-heading-opacity">
        <h2 class="account-heading text-break">{{ user.username }}</h2>
        <p class="account-heading-mail"> {{ user.email }} </p>
      </div>
    </div>
    
    <form method="POST" enctype="multipart/form-data" style="padding: 10px 20px">
        {% csrf_token %}
        <legend class="border-bottom mb-4">Informacje o Profilu</legend>
        {{ u_form|crispy }}
        <br>
        
        <div id="wrapper">
            <label>Zdjęcie profilowe* / Wymiary [125, 125]</label>
            <br>
            <input id="fileUpload" type="file" name='image' message="Proszę dodać zdjęcie"/>
            <div id="image-holder"></div>
        </div>
        
        <div class="my-3">
            <h6 class="text-center">Tło profilowe</h6>
            <div class="row">
            {% for background in backgrounds %}
                <div class="col">
                    {% if background.id == user.profile.background.id %}
                    <input type="radio" id="{{ background.name }}" name="background" value="{{ background.id }}" checked>
                    {% else %}
                    <input type="radio" id="{{ background.name }}" name="background" value="{{ background.id }}">
                    {% endif %}
                    <label for="{{ background.name }}"><img class="background-img-preview"src="{{ background.image.url }}"></label>
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="m-1">
            <button class="btn btn-active" type="submit">Uaktualnij</button>
        </div>
    </form>
  </div>
  <script>
    $("#fileUpload").on('change', function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "rounded-circle account-img-preview"
                }).appendTo(image_holder);

            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
    });
</script>
   
{% endblock content %} 